body {
    background: rgb(246, 245, 245); 
    font-family: 'Noto Sans KR', sans-serif;
}
.text-label {
    color: rgb(147, 143, 144);
    font-size: 22px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 500;
}
.form-content, .form-link {
    background: #fff;
    position: absolute;
    width: 330px;
    border: 1px solid rgba(199, 187, 187, 0.836);
    margin: 0 auto;
    padding: 30px;
    display: inline-block;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
   
}

.form-link {
    padding: 10px 30px 10px 30px;
    margin: 250px auto;
    color:rgba(0, 0, 0, 0.383);
}

.img-logo {
    padding-bottom: 10px;
}
.name-class, .password-class, .submit-class{
    background: rgb(246, 245, 245);
    padding: 10px;
    width: 250px;
    border: 1px solid rgba(199, 187, 187, 0.836);
    border-radius: 3px;
    margin: 0 auto;
    margin-bottom: 7px;
}

.submit-class {
    width: 272px;
    background: rgb(198, 222, 250);
    color: #fff;
    border: none;
    margin-top: 5px;
}

.footer-class {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 15px 0;
    text-align: center;
    margin-bottom: 30px;
}

a {
    margin: 7px;
}

a:link {
    color: rgb(147, 143, 144);
    text-decoration: none;
}

/*
.footer-class {
    position: absolute;
    left: 0;
    bottom: 0;
    text-decoration: none;
    color:rgba(199, 187, 187, 0.836);
    display: inline-block;
    text-align: center;
    padding: 10px 0;
}
*/