{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}Instagram</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/users/main.css' %}">
</head>
<body>
    <!-- content -->
    <div class="form-content">
        <img class="img-logo" src="{% static 'images/logo.png' %}" alt="logo">
        {% block content %} {% endblock %}
    </div>

    <div class="form-link">
        {% block link %} {% endblock %}
    </div>
    
    <!-- footer -->
    <div class="footer-class">
        {% include "users/footer.html" %}
    </div>
</body>
</html>